<style>
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
    padding: 40px 5px;
}

element {
}
a.list-group-item, button.list-group-item {
    color: #555;
    padding: 10px;
    font-size: 12px;
}

</style>

  <h1 style="text-align:center;padding-bottom: 30px;font-size: 31px;color:  #3498db ; text-shadow: 1px 1px 1px #a4a2a2;"><strong>OUR PRICE IS BEST IN THE MARKET</strong></h1>

<div class="container">
<div class="row">
<div class="col-sm-4" style="">
<div class="list-group">
    <a href="./pages/addorder" class="list-group-item active" onclick="openForm()">
        <center> <h3>Basic Website (Static) for Small Business</h3>
                        <h2 style="text-align:center;"><strong>3499 INR</strong></h2> <br>
        <h3 style="background-color: #f39c12 ; padding:10px; width:60%; border-radius:12px;text-align:center;">Order Now</h3></center>
    </a>
    <a href="#price" class="list-group-item">Single landing page</a>
    
   <a href="#price" class="list-group-item">Hosting Account (1 year)</a> 
         <a href="#price" class="list-group-item">Free SSL (https://)</a> 
    <a href="#price" class="list-group-item">One Domain Name (1 year)**</a>
      <a href="#price" class="list-group-item">Fully Responsive web design</a>
    <a href="#price" class="list-group-item">No Support</a>
  </div>
</div>
<div class="col-sm-4" style="">
<div class="list-group">
    <a href="./pages/addorder" class="list-group-item active" onclick="openForm()">
        <center> <h3>Dynamic Website for Medium  Business</h3>
                        <h2 style="text-align:center;"><strong>10499 INR</strong></h2> <br>
        <h3 style="background-color: #f39c12 ; padding:10px; width:60%; border-radius:12px;text-align:center;">Order Now</h3></center>
    </a>
    <b>
    <a href="#" class="list-group-item">5 Pages </a>
    <a href="#" class="list-group-item">Hosting Account (1 year)</a>
        <a href="#" class="list-group-item">Free SSL (https://)</a>
    <a href="#" class="list-group-item">One Domain Name (1 year)**</a>
    <a href="#" class="list-group-item">Fully Responsive web design </a>
    <a href="#" class="list-group-item">Full Support</a>
    </b>
  </div>
</div>
<div class="col-sm-4" style="">    
<div class="list-group">
    <a href="./pages/addorder" class="list-group-item active" onclick="openForm()">
        <center> <h3>E-Commerce Website for online Business</h3>
                        <h2 style="text-align:center;"><strong>14999 INR</strong></h2> <br>
        <h3 style="background-color: #f39c12 ; padding:10px; width:60%; border-radius:12px;text-align:center;">Order Now</h3></center>
    </a>
    <a href="#" class="list-group-item">Unlimited Pages</a>
   <a href="#" class="list-group-item">Hosting Account (1 year)</a>
   
    <a href="#" class="list-group-item">Free SSL (https://)</a>
    <a href="#" class="list-group-item">One Domain Name (1 year)**</a>
    <a href="#" class="list-group-item">Fully Responsive web design </a>
    <a href="#" class="list-group-item">Full Support</a>
  </div>
</div>
</div>
</div>
<p style="text-align:right;"> Order Now By making an advance payment of Rs.999.</p>
<p style="text-align:right;">** .in domain is included in this , for .com or other a extra cost will be charged</p>

<h2 style="text-align:center;padding-bottom: 30px;font-size: 31px;color:  #3498db ; text-shadow: 1px 1px 1px #a4a2a2;"><strong>Technology and Services use</strong></h2>

<div class="container" style="padding-bottom:50px;">
  <div class="row">
    <div class="col-md-2">
        <img src="./img/htnk5.png" class="img-rounded" alt="Cinque Terre" height="70" width="70">
          <img src="./img/css3.png" class="img-rounded" alt="Cinque Terre" height="70" width="70">
         </div>
    <div class="col-md-2">
      <img src="./img/bootstrap.png" class="img-rounded" alt="Cinque Terre" height="70" width="70">
    </div>
    <div class="col-md-2">
      <img src="./img/php.png" class="img-rounded" alt="Cinque Terre" height="70" width="100">
    </div>
    <div class="col-md-2">
      <img src="./img/sql.png" class="img-rounded" alt="Cinque Terre" height="70" width="70">
    </div>
    <div class="col-md-2">
      <img src="./img/ajax.png" class="img-rounded" alt="Cinque Terre" height="70" width="120">
    </div>
    <div class="col-md-2">
      <img src="./img/payu.jpg" class="img-rounded" alt="Cinque Terre" height="70" width="140">
    </div>

  </div>
</div>



