<div style="background-image: url(<?php echo $this->webroot.'img/bg.jpg';?>); width: 100%; height:100vh; background-attachment: fixed;">

<div class="container" style="padding: 50px;">
	<center>
 <h1 style="text-align:center;padding-bottom:  20px;font-size: 31px;color:  white; text-shadow: 1px 1px 1px #a4a2a2;"><strong>Our Clints Says</strong></h1>



	<div class="row">
		<div class="col-md-6">
			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsubhajit.mallick.35%2Fposts%2F1310336412437591&width=500" width="500" height="218" style="border:1px solid;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		</div>
		<div class="col-md-6">
			<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fonielhonrubia%2Fposts%2F10213530621235142&width=500" width="500" height="240" style="border:1px solid;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		</div>
		

	</div>
	
	<div class="col-md-12" style="padding-top: 20px;">
		<center>
		<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D224385418451233%26id%3D100026393288869&width=500" width="500" height="200" style="border:1px solid; overflow:hidden;  scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
		</center>
	</div>
</div>

</div>
