 <style type="text/css">
   .container {
    max-width: 504px;
   }
 </style>
 
    
 
<div style="background-image: url(<?php echo $this->webroot.'img/bg.jpg';?>); width: 100%; height:100vh;">

<div class="container" style="padding-top: 200px;">

<form action="" method="post" class="form-container">
    
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Name" name="name" style="height: 42px;" required>
  </div>
  <div class="form-group">  
   <h2><input type="text" class="form-control" placeholder="Enter Contact Number" name="number" style="height: 42px;" required></h2>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter E-Mail Address" name="mail" style="height: 42px;" required>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Enter Address" class="form-control" name="address" style="height: 42px;" required>
   </div>
<center>
    <button type="submit" class="btn btn-success" style="height: 40px;width: 120px;">Order Now</button>
 </center>   
  </form>

</div>

</div>

