<body>
<?php echo $this->element('preloader'); ?>
<div class="mouse" >
                <div class="scroll" ></div>
            </div>

    <div style="background-image: url(<?php echo $this->webroot.'img/back.jpg';?>); width: 100%; height:100vh;">
<center>
<div class="container" style="padding-top: 40vh;">
  <span class="mytext1"><b style="color: #ff9b00 ;text-shadow: 1px 1px 2px #000000;">design.</b> Develop.<b style="color: #2ecc71  ;text-shadow: 1px 1px 2px #000000; "> grow</b></span>
  <span class="mytext2">We provide the best web solutions for business </span>
</div>
</center>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<?php echo $this->element('services'); ?>
		</div>
		<div class="col-md-5">
<div style="background-image: url(<?php echo $this->webroot.'img/features_img.png';?>); 
                        width: 100%;
                        height: 560px;
                        background-repeat: no-repeat;
                       ">
</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<?php echo $this->element('price'); ?>
<div style="background-image: url(<?php echo $this->webroot.'img/banner.png';?>); 
width: 100%;
height:150vh;
background-repeat: no-repeat;
background-size: cover;
position: bottom-center;
">
</div>

<?php echo $this->element('projects'); ?>
<?php echo $this->element('review'); ?>
<?php echo $this->element('contact'); ?>




   
</body>





  